<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="DatabaseInitializerForType WP7.Appointments.DataAccess.AppointmentsContext, WP7.Appointments.DataAccess" value="WP7.Appointments.DataAccess.AppointmentsContextInitializer, WP7.Appointments.DataAccess" />-->
    <add key="DatabaseInitializerForType WP7.Appointments.DataAccess.AppointmentsContext, WP7.Appointments.DataAccess" value="disabled" />
  </appSettings>
  <connectionStrings>
    <add name="AppointmentsContext" connectionString="Data Source=localhost;Initial Catalog=WP7.Appointments.Database;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="defaultBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service name="WP7.Appointments.Service.AppointmentService" behaviorConfiguration="defaultBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="WP7.Appointments.Service.IAppointmentService"/>
      </service>
    </services>
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>  
</configuration>
